* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgb(230, 205, 123);
  font-family: "Quicksand", sans-serif;
}

h1 {
  margin: 60px;
}

.yt {
  width: 250px;
}

#search {
  width: 100%;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
}

#search:focus {
  outline: none;
}

#resultList {
  width: 100%;
}

li {
  width: 250px;
}

a {
  text-decoration: none;
  color: rgb(12, 43, 145);
  cursor: pointer;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  padding: 4px 10px;
}

a:hover {
  background-color: rgb(235, 174, 174);
}
